# =============== #
#   Manual Added  #
# =============== #
GameMaster_Data
GameMaster.exe
state.sav
ignoredFiles
Android
Nintendo
miniweb
*.lnk
/beats
/iOS/iosbuilder-installer

# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Ll]ibrary/
/[Ll]ogs/
/[Mm]onoBleedingEdge/
/[Uu]serSettings/
sysinfo.txt
*.stackdump
# For Android
res
libs
gen
raw.ap_
Package_unaligned.apk
assets.ap_
UnityCrashHandler32.exe
UnityPlayer.dll
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
bin

# ================== #
# Manual Whitelisted #
# ================== #
!.public/Build